body {
    font-family: sans-serif;
}
.container{
    width: 1035px;
    height: auto;
    margin: 0 auto;
}
footer{
    text-align: center;
}

.article{
    margin-top: 30px;
    margin-bottom: 30px;
}

.admin-table{
    width: 100%;
}

textarea {
    height: 200px;
    width: 300px;
}

label{
    margin-top: 20px;
}
h1{
    text-align: center;
    color: #1E90FF;
}
a{
    color: #1E90FF;
    text-decoration: none;
}
a:hover{
    color: #4169E1;
    text-decoration: underline;

}
